* { margin: 0; padding: 0; }

body {
  justify-content: center;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

table {
  border-collapse: collapse;
}

/* jede zweite (gerade) reihe wird eingefärbt */
tr:nth-child(even) {
  background-color: #fff8fb;
}

th {
  border-bottom: 2px solid palevioletred;
  text-align: left;
}

td, th {
  padding: 15px;
  width: 150px;
}

/* mmmmein code */
span {
  font-size: 16px
}

.big {
  font-size: 20px
}

#bigger {
  font-size: 24px
}

p {
  color: red
}

.green {
  color: green
}

#blue {
  color: blue
}

h3 {
  text-decoration: underline;
}

.wrong {
  text-decoration: line-through;
}

#correct {
  text-decoration: none;
}
