.small-font {
  text-align: center;
  font-family: sans-serif;
  color: #d279a6
}

.big-font {
  font-family: sans-serif;
  color: #99bbff
}

a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#safety-link {
  color: #ffaa80;
}

/*oke ich hab jetzt was verstanden :D ich bräuchert jetzt in dem Fall den "a css tag" nicht,
weil ich des ja mit der id gmacht hab.. aber wenns jetzt mehrer links geben würd wären alle schwarz und
nur der mit der der id oragen :D des is ja die Hirachie*/
