* { margin: 0; padding: 0; }

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #6a1b9a;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 64px;
  color: #ff80ab;
}